*.iml

.gradle

/local.properties

/.idea/caches

/.idea/libraries

/.idea/modules.xml

/.idea/workspace.xml

/.idea/navEditor.xml



.DS_Store

/app/build

/captures

.externalNativeBuild

.cxx
/.idea
local.properties
*.apk
*.aab
build/kotlin/sessions/kotlin-compiler-11532514013225696236.salive
app/.idea/workspace.xml
